<p style='background-color: rgb(200, 100, 120); text-align: center'>Désolé, vous n'avez pas accès à cette page !</p>

<span class="image">
  <img src="https://image.flaticon.com/icons/svg/1058/1058958.svg" alt="Accès refusé" style="width: 30%; max-width:%; position: relative; top: 100px; bottom: 150px; left: 35%; right: 50%">

</span>
